# Python

_______________________

### Print Statement

In [ ]:
print("Hello World")

Hello World

In [1]:
print("Hello \n Moto")

Hello
 Moto

In [2]:
a = "Tom"
print(a)

Tom

In [3]:
a = "Tom"
print("My name is "+a)

My name is Tom

In [4]:
a = "Tom"
print(f"my name is {a}")

my name is Tom

________________________________________________

### Data Types

In [5]:
var_1 = 2 #integer
var_2 = 5.2 #float
var_3 = True #boolean
var_4 = "Hello" #string

In [6]:
#Find the type of variable
type(var_1)

int

________________________________

### Conditional Statement
- They are terminated using : (colon)
- Types are 
    - if-else
    - if-elif-else
    - nested if
    - ladder if

#### Simple If-Else

In [7]:
a = 10
if a < 20:
    print("Your age is under 20")
else:
    print("Your age is below 20")

Your age is under 20

#### If-Elif-Else

In [9]:
m = int(input())
if 100 >= m >=91:
    print("S Grade")
if 90 >= m >=81:
    print("A Grade")
elif 80 >= m >=71:
    print("B Grade")
elif 70 >= m >=61:
    print("C Grade")
elif 60 >= m >=51:
    print("D Grade")
elif 50 >= m >=40:
    print("E Grade")
elif m <= 40:
    print("Fail")
else:
    print("Enter correct mark")

E Grade

#### Nested-if
Python program to check if age is above 18 and hes an member, he need to pay $12, else if he's above 18 and not a member he need to pay $20, if he's less than 18 and a member he needs to pay $8 else if hes below 18 and not a member, he needs to pay $10

In [ ]:
age = 10
member = True
if age > 18:
    if member:
        print("Ticket price is $12")
    else:
        print("Ticket price is $20")
else:
    if member:
        print("Ticket price is $8")
    else:
        print("Ticket price is $10")

Ticket price is $8

#### Ternary Operator
Used to check if-else in a single line

In [ ]:
Age = 18
Voting = print("Can Vote") if Age >= 18 else print("Cant Vote")

Can Vote

______________________________________________

### Generating Sequence of Numbers
range( start, stop, step)

In [ ]:
range(1,5)
# Output : 1 2 3 4

In [ ]:
range(1,10,2)
# Output : 1 3 5 7 9

In [ ]:
range(10,1,2)
# Output: 10 8 6 4 2

In [ ]:
a = range(1,20)
print(a)

range(1, 20)

In [ ]:
# Use * arbitate
a = range(1,20)
print(*a)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

________________________________________________________

### Control Flow Statement
#### Types of Primitive
- For Loop
- While Loop

#### For Loop

In [ ]:
for i in range(1,6):
    print("i")

i
i
i
i
i

In [ ]:
fruits = ['apple','banana','cherry']
for x in fruits:
    print(x)

apple
banana
cherry

In [27]:
fruits = ['apple','banana','cherry']
for x in fruits:
    print(x, end="")

applebananacherry

In [28]:
fruits = ['apple','banana','cherry']
for x in fruits:
    print(x, end=" ")

apple banana cherry

In [ ]:
for x in "apple":
    print(x)

a
p
p
l
e

#### Break Statement
Stops the loop when condition is satisfied and it loops all items

In [ ]:
letters = ['a','b','c','d','e']
for x in letters:
    print(x)
    if x == "c":
        break

a
b
c

In [ ]:
letters = ['a','b','c','d','e']
for x in letters:
    if x == "c":
        break
    print(x)

a
b

#### Continue Statement
Skips the target element and continues the loop

In [ ]:
letters = ['a','b','c','d','e']
for x in letters:
    if x == "c":
        continue
    print(x)

a
b
d
e

#### Else Statement

In [ ]:
for x in range(6):
    print(x)
else:
    print("Loop Completed")

0
1
2
3
4
5
Loop Completed

#### Pass Statement
Ignore the error

In [ ]:
for x in [0,1,2]:
    pass

#### Nested For

In [ ]:
color = ['red','green','blue']
fruits = ['apple','orange','banana']
for x in color:
    for y in fruits:
        print(x,y)

red apple
red orange
red banana
green apple
green orange
green banana
blue apple
blue orange
blue banana

#### While Loop
Excecutes a set of statement as long as condition is true

In [ ]:
i = 1
while i < 6:
    print(i)

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

#### Break Statement

In [ ]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

#### Continue statement

In [ ]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

#### Else Statement

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("1 is no longer grater than 6")

1
2
3
4
5
1 is no longer grater than 6

______________________

### Function
- It is a block of code which is excecuted only when it is called
- We can pass data (parameter) into function
- Function returns data as result

##### Creating a function

In [ ]:
def new_function():
    print("hello")

In [ ]:
# Calling a function
new_function()

hello

##### Argument

In [ ]:
def full_name(fname):
    print(fname + " M")
full_name("Tucker")

Tucker M

In [ ]:
# Parameter vs Argument
def name(fname):
    pass
fname = "Tom"
# here fname is parameter
# here Tom is argument

##### No of Arguments
if my function has 2 arguments, i need to pass exaxtly only 2, not less than 2 or grater than 2

In [ ]:
def full_name(fname,lname):
    print("Full name is " + fname + " " + lname)
full_name("Rose","Dawson")

Full name is Rose Dawson

##### Arbitary Arguments *args
Used when no of arguments are unknown

In [ ]:
def my_function(first,second,third):
    print("The youngest child is " + third)
my_function("Emily","Alex","leo")

The youngest child is leo

In [ ]:
def my_function(*kids):
    print("The youngest child is " + kids[2])
my_function("Emily","Alex","leo")

The youngest child is leo

##### Keyword argument

In [ ]:
def my_function(child1, child2, child3):
    print("The youngest child is " + child3)
my_function("Emily","Alex","Jerry")

The youngest child is Jerry

In [ ]:
def my_function(child1, child2, child3):
    print("The youngest child is " + child3)
my_function(child3="Emily",child2="Alex",child1="Jerry")

The youngest child is Emily

In [ ]:
def total_marks(english, tamil, maths):
    total = english+tamil+maths
    print(f"Your english marks is {english}, tamil mark is {tamil}, maths mark is {maths} and, total mark is {total}")
total_marks(tamil=25,maths=30,english=20)

Your english marks is 20, tamil mark is 25, maths mark is 30 and, total mark is 75

##### Arbitary Keyword Argument

In [ ]:
def my_function(**kid):
    print("His last name is "+kid['lname'])
my_function(fname="Tom",lname="Dawson")

His last name is Dawson

##### Default Value
default value is used when there is no value for the function

In [ ]:
def my_function(country):
    print("I am from " + country)
my_function("Asia")

I am from Asia

In [ ]:
def my_function(country="Sweeden"):
    print("I am from " + country)
my_function("India")
my_function("Norway")
my_function()

I am from India
I am from Norway
I am from Sweeden

##### List as an Argument

In [ ]:
def my_function(food):
    for x in food:
        print(x)
fruits = ["apple","banana","cherry"]
my_function(fruits)

apple
banana
cherry

##### Return Values

In [ ]:
def mult(x):
    return x * 5
mult(12)

60

##### Pass Statement

In [ ]:
def function():
    pass

##### Positional-Only Arguments

In [11]:
def my_function(x,/):
    print(x)
my_function(3)

3

In [ ]:
def my_function(x,/):
    print(x)
my_function(x=3)

##### Recurssion
- A function can call itself
- Can lead to infinite loop and memory usage if not handled properly

In [15]:
def tri_recursion(k):
    if(k>0):
        result = k + tri_recursion(k-1)
        print(result)
    else:
        result = 0
    return result

tri_recursion(6)

1
3
6
10
15
21

21

_____________________________

### Lambda
It is a small anonymous function, it can take any number of arguments, but only haveone expression

In [17]:
x = lambda a:a+10
print(x(5))

15

In [18]:
x = lambda a,b,c : a+b+c
print(x(1,8,5))

14

In [24]:
def my_function(n):
    return lambda a: a *n
my_double = my_function(2)
print(my_double(11))

22

______________________________

### Arrays
- In python there is no default array, instead list can be used
- To work with exact array we use numpy

In [ ]:
cars = ['Ford','Audi','Benz','Tata']

['Ford', 'Audi', 'Benz', 'Tata']

##### Acessing a Array

In [29]:
a = cars[1]
print(a)

Audi

##### Modify Value

In [31]:
cars[0] = 'Bently'
print(cars)

['Bently', 'Audi', 'Benz', 'Tata']

##### Find Length of Array

In [33]:
print( len( cars ) )

4

##### Looping Array Elements

In [34]:
for x in cars:
    print(x)

Bently
Audi
Benz
Tata

##### Adding & Removing Elements

In [37]:
cars.append("Honda")
print(cars)

['Bently', 'Audi', 'Benz', 'Tata', 'Honda']

In [ ]:
cars.pop(1) # Remove using index

'Audi'

In [39]:
print(cars)

['Bently', 'Benz', 'Tata', 'Honda']

In [ ]:
cars.remove("Tata") # Remove by value

In [41]:
print(cars)

['Bently', 'Benz', 'Honda']

#### Array Methods
- append() - add elment at end
- insert() - add element at specific popition
- clear() - remove all elements
- copy() - returns a copy
- count() - count of specific value
- extend() - concordinate arrays
- index () - returns index of an 
- pop() - remove at specified position
- remove() - remove specified value
- reverse() - reverse the order
- sort() - sorts the list

#### Array methods withour methods

#### Append Method

In [46]:
def append(list,item):
    list += [item]
my_list = [4,6,7]
append(my_list,4)
print(my_list)

[4, 6, 7, 4]

#### Clear Method

In [47]:
def clear(list):
    list[:] = []
my_list = [1,2,3,4,5]
clear(my_list)
print(my_list)

[]

##### Copy Method

In [50]:
def copy(list):
    return[item for item in list]
my_list = [2,5,6,3,8]
coppied_list = copy(my_list)
print(coppied_list)

[2, 5, 6, 3, 8]

##### Count Method

In [53]:
def counter(list, value):
    count = 0
    for i in list:
        if i == value:
            count += 1
    return count
my_list = [1,3,5,5,6,5,4,5]
print(counter(my_list,5))

4

##### Extend Method

In [54]:
def extend(list, iterable):
    for item in iterable:
        list += [item]
my_list = [1,5,9]
extend(my_list,[4,8,5])
print(my_list)

[1, 5, 9, 4, 8, 5]

##### Len Method

In [61]:
def len(arr):
    count = 0
    for i in arr:
        count += 1
    return count
arr = [1,8,9,6,4]
print(len(arr))

5

##### Index Method

In [77]:
def my_len(arr):
    count = 0
    for i in arr:
        count += 1
    return count

def index(list, value):
    for i in range (my_len(list)):
        if list [i] == value:
            return i
    return -1
my_list = [5,9,6,2,4,8,5]
print(index(my_list,2))

3

##### Insert method

In [75]:
def insert(list, index, value):
    list[:] = list[:index] + [value] + list[index:]
my_list = ['a','b','d']
insert(my_list,2,'c')
print(my_list)

['a', 'b', 'c', 'd']

##### Sorting

In [83]:
#Selection Sort

def sort(arr):
    n = 0
    for _ in arr:
        n += 1

    for i in range(n-1):
        min_index = i
        for j in range (i+1, n):
            if arr[j] < arr[min_index]:
                min_index = j
        arr[i], arr[min_index] = arr[min_index], arr[i]

arr = [6,8,2,9,5,2,1,3,4]
sort(arr)
print(arr)

[1, 2, 2, 3, 4, 5, 6, 8, 9]

______________________

### Class & Objects
- Python is an OOP language
- Class is like an constructor for objects or blueprint for creating objects

##### Creating a Class

In [84]:
class MyClass:
    x = 6

##### Creating Object

In [87]:
class MyClass:
    x = 6
p1 = MyClass()
print(p1.x)

6

##### __init__() Function
- All the class have a function called __init__function, which is always excecuted when the class is being initiated
- __init__function is used to assign values to object properties or other operations that are necessary to do when the object is created

In [107]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
p1 = Person("John",36)
print(p1.name)
print(p1.age)

John
36

##### __str__() Function
- It controls what shoud be returned when the class object is represented as a string
- If __str__function is not set, the string represendation of objection is returned

In [106]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def __str__(self):
        return f"{self.name} {self.age}"
p1 = Person("John",36)
print(p1)

John 36

##### Object Method

In [110]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def my_fun(self):
        print("Hello my name is "+self.name)
name = input("Enter your name" )
p1 = Person(name,36)
p1.my_fun()

Hello my name is Kadhirvel M

Self Parameter is a reference to the current instance of the class and is used to access variables that belong to the class

##### Modify
- del p1.age - deletes object properties
- del p1 - deletes object

____________________________________________________________

### Python Inheritance
It allows to define a class that inherits all methods and properties from another class
- Parent Class - base class / inherited from
- Child Class - derived class / inherited to

##### Child Class

In [114]:
class Person:
    def __init__(self,fname,lname):
        self.firstname = fname
        self.lastname = lname
    def print_name(self):
        print(self.firstname, self.lastname)

class Student(Person):
    pass

x = Student('Mike','Wheeler')
x.print_name()

Mike Wheeler